<div class="form-wrapper">
  <h1>ログイン</h1>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name))  do |f| %>
    <div class="form-item">
      <%= f.text_field :name, autofocus: true, autocomplete: 'name', class: ' feedback-input',:placeholder => "name"%>
    </div>
    
    <div class="form-item">
      <%= f.password_field :password, autocomplete: 'current-password', class: ' feedback-input',required: true,minlength: @minimum_password_length,maxlength: '30',:placeholder => "password" %> 
    </div>
    
    <div class="button-panel">
      <%= f.submit  'サインイン',class:"button"%>
    </div>
      <%= link_to "ゲストログイン", users_guest_sign_in_path, class: 'btn btn-warning form-control guest-margin',method: :post %>
<% end %>
